
<button data-drawer-target="default-sidebar" data-drawer-toggle="default-sidebar" aria-controls="default-sidebar" type="button" class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
  <span class="sr-only">Open sidebar</span>
  <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
  <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
  </svg>
</button>

<app-sidebar></app-sidebar>

<div class="p-4 sm:ml-64">
  <div class="p-4">
    <div class="mt-4 text-3xl flex justify-between">
      <h2>Welcome Back Brandon</h2>
      <app-profile-drop-card></app-profile-drop-card>
    </div>
    <div class="mb-3 text-sm pl-2">
      <span>You have <small class="text-blue-400">2 unread</small> notifications</span>
    </div>
     <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 mb-4">
       <stat-card
          title="Gross Revenue"
          [amount]="2480.32"
          [rate]="2.15"
          [startDate]="'Jan 01'"
          [endDate]="'March 30, 2024'"
          [isProgress]="true"
        ></stat-card>

        <stat-card
          title="Avg Order Value"
          [amount]="56.32"
          [rate]="2.15"
          [startDate]="'Jan 01'"
          [endDate]="'March 30, 2024'"
          [isProgress]="false"
        ></stat-card>

        <stat-card
          title="Total Orders"
          [amount]="230"
          [rate]="2.15"
          [startDate]="'Jan 01'"
          [endDate]="'March 30, 2024'"
          [isProgress]="true"
        ></stat-card>

     </div>

  </div>
</div>

<!-- SECTION  -->
<div class="px-4 sm:ml-64">
  <div class="px-4">
     <div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
       <div class="col-span-2">
        <div class="relative overflow-x-auto">
          <list-of-elements
            [tableHeaders]="['Product Name', 'Color', 'Category', 'Price (GHS)']"
            [rowElements]="products"
          ></list-of-elements>
        </div>
       </div>

       <div>
         <div>
            <stat-card
            title="Current Transactions"
            [amount]="56.32"
            [rate]="2.15"
            [startDate]="'Jan 01'"
            [endDate]="'March 30, 2024'"
            [isProgress]="true"
          ></stat-card>
         </div>
         <div class="mt-3">
          <stat-card
          title="Expected Transactions"
          [amount]="1000.99"
          [rate]="2.15"
          [startDate]="'Jan 01'"
          [endDate]="'March 30, 2024'"
          [isProgress]="false"
        ></stat-card>
         </div>
       </div>

     </div>

     <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 mt-7">
      <div class="col-span-2 border border-[#F0F1F3] rounded-xl">
       <div class="relative overflow-x-auto">
        <app-bar-chart
          [series]="[{ name: 'Stock', data: [30, 40, 35, 50, 49, 60] }, { name: 'Sales', data: [20, 30, 25, 40, 39, 50] }]"
          [type]="'bar'"
          [colors]="['#046564', '#04a1a0']"
          [stacked]="true"
          [categories]="['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun']"
          [legend]="{ position: 'bottom', horizontalAlign: 'center' }"
          [fillOpacity]="0.1">
        </app-bar-chart>
       </div>
      </div>
        <div class="border border-[#F0F1F3] rounded-xl">
         <app-pie-chart
            [series]="[44, 55, 13, 43, 22]"
            [labels]="['Shoes', 'Scandals', 'Shirts', 'Jeans', 'Tops']"
            [type]="'donut'"
            [radius]="500"
            height="'300'"
            [donutHoleSize]="'65%'"
            [colors]="['#455a64', '#63af70', '#e17e7e', '#046564', '#04a1a0']"
            [legend]="{ position: 'bottom', horizontalAlign: 'center' }">
          </app-pie-chart>
        </div>

    </div>

  </div>
</div>
